.popup-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.54);
    border-radius: 6px;
    width: 50%;
    max-height: 90%;
    padding: 24px 48px;
    font-family: "Courier";
    vertical-align: middle;
    overflow-y: auto;
}

#how-it-works-content {
    width: 65%;
}

.top-line {
    width: 100%;
    display: table;
}

.top-line-header, .popup-header {
    font-size: 32px;
    font-weight: 700;
}

.top-line-header {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.exit-btn:hover {
    text-decoration: underline;
}

.exit-btn {
    color: black;
    background-color: transparent;
    border: 0;
    margin: 0;
    font-family: "Courier";
    font-size: 24px;
    padding: 5px 0;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.popup-block {
    width: 100%;
}

a:link, a:visited {
    color: #000000;
}

#img-wrapper {
    width: 100%;
    margin: 8px 0;
    text-align: center;
}

#icon-bar {
    width: 100%;
    margin: 36px 0;
    display: table;
    text-align: center;
}

.icon-wrapper {
    width: max-content;
    margin: 0 2.75%;
    display: inline-block;
}

.popup-icon {
    position: relative;
    top: 50%;
    transform: translateY(8%);
    font-size: 28px;
}

#credit-tag-wrapper {
    width: 100%;
    text-align: center;
    margin: 36px 0 0 0;
}

#credit-tag {
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .icon-wrapper {
        margin: 0;
    }

    #heroku-wrapper, #mongo-wrapper {
        width: 50%;
        margin-bottom: 6px;
    }

    #express-wrapper, #react-wrapper, #node-wrapper {
        width: calc(100% / 3);
        margin-top: 6px;
    }
}

@media (max-width: 768px) {
    .top-line {
        width: 106%;
    }

    .top-line-header, .popup-header {
        font-size: 28px;
        vertical-align: top;
    }

    .exit-btn {
        margin-left: 12px;
        padding-top: 2.5px;
        font-size: 20px;
    }

    .popup-block {
        font-size: 12px;
    }

    #diagram {
        width: 215px;
    }

    #icon-bar {
        margin: 24px 0;
    }

    .popup-icon {
        font-size: 24px;
    }

    #heroku-wrapper {
        width: 100%;
    }

    #mongo-wrapper, #express-wrapper, #react-wrapper, #node-wrapper {
        width: 50%;
    }

    #credit-tag-wrapper {
        margin-top: 24px;
    }

    #credit-tag {
        font-size: 9px;
    }
}

@media (max-width: 425px) {
    .top-line {
        width: 110%;
    }

    .popup-icon {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .top-line {
        width: 114%;
    }

    #diagram {
        width: 200px;
    }
}

@media (max-width: 320px) {
    .top-line {
        width: 116%;
    }

    .popup-icon {
        font-size: 18px;
    }
}