#rotor-bar {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
}

.rotor {
    width: 15%;
    display: inline-block;
    box-sizing: border-box;
}

.rotor-btn {
    cursor: pointer;
}

.rotor-txt {
    display: inline-block;
    width: 32px;
    font-size: 16px;
    font-family: "Courier";
}